.footer {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  padding: 15px 5px;
  font-size: 15px;
  color: #d6d3d3;
  background: rgb(129, 78, 211);
  box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.3);
}
