.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  transition: 0.3s all ease-in-out;
  color: #292929;

  &.isMarked {
    border: 2px solid #ababad;
    background: #a8edf7;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  }

  &.isAnswered {
    background: #cecccc;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  }

  & + .question {
    margin-top: 8px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #939380;
        gap: 8px;
        transition: filter 0.2s;
        &:hover {
          filter: brightness(0.5);
        }

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    span {
      margin-left: 8px;
      color: #737380;
      font-size: 14px;
    }
  }
}
